body {
	margin: auto;
	background: #f1f1f1;
	font-family: "Helvetica";

}

.section1 {
	margin: auto;
	color: #f1f1f1;
	display: block;
	background-color: #000;
}

.section2 {
	display: block;
}

#head {
	padding-left: 50px;
	float: left;
}	


.nav {
	float: right;
	display: inline-block;
	margin: auto;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

a {
	text-decoration: none;
	color: #f1f1f1;
}

.section2 {
	float: left;
	margin-left:200px;
	margin-top: 100px;

}

.img {
	width: 400px;
	height: 400px;
}

.section3 {
	text-align: right;
	line-height: 3em;
	float: left;
	margin-left:200px;
	margin-top: 100px;
}

.section4 {
	float: left;
}

.colorpick {
	height: 12px;
	width: 100px;
	outline: 2px;
	outline-color: #000;
}